body {
    background-color: black;
    color: aliceblue;
    font-size: 2vw;
    font-family: cursive;
}

.heading {
    color: white;
    font-size: 2vw;
    font-family: cursive;
    text-align: center;
}
.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background: lightblue;
}
.item{
    box-sizing: border-box;
    border: 1px solid midnightblue;
    padding: 10px;
    /* flex: 1 100px; */
    text-align: center;
}
.item a{
    text-decoration: none;
    color: blueviolet;
    
    
}

.item1 {
    color: seagreen;
    background-color: lightseagreen;
    box-sizing: border-box;
    border: 3px solid blueviolet ;
    padding: 10px;
    flex: 1 100px;
    
    
}
.item1 h2 {
    color: blue;
    box-sizing: border-box;
    background-color: lightblue;
    border-radius: 2px;
    flex: 1 100px;
    text-align: center;
    
}



.item1  li a {
    text-decoration: none;
    color: darkgreen;
    
}
.item1 ul li{
    list-style: none;
    text-align: left;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    list-style: none;
    background-color: darkcyan;
}

video{
    float: left;
    clear: both;
    height: 150px;
    width: auto;
    padding: 2vw;
}


.objective{
    font-size: 2vw;
    list-style: none;
    overflow:scroll;
}

.terms a {
    
    font-size: 2vw;
    color: azure;
    text-decoration: none;
}
.terms{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: cursive;
    
}
.terms{
    list-style: none;
    float: left;
    clear: both;
}

