body{
    background-color: black;
    color: antiquewhite;
    margin: 0 ;padding: 0;

}
header{
    color:white;
    background-color: gray;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px wheat;
    
}



header img{
    float: left;
    border-radius: 100px;
    padding: 10px;
}
header ul{
    list-style: none;
    text-align: center;
}

a:hover{
    color: aqua;
}
main {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px wheat;
    background-color: black;
  }
  section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px wheat;
    background-color: black;
  
}
h2{
    text-align: center;
    font-size: 3vw;
   
}
.profile{
   
    color: azure;
   
  
}


 section  li {
    list-style: none;
    font-size: 2vw;

}
footer{
    backgroundcolor: grey;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px wheat;
    text-align: center;
}
footer h2 {
    color: aqua;

}

footer li{
    list-style: none;
    padding: 15px;
    display: inline;

}
footer li a{
    text-decoration: none;
    font-family: cursive;
    color: solid blue;
    font-size: 2vw;
}
